root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{css,pcss}]
indent_size = 2

[*.html]
indent_size = 2

[*.ini]
indent_size = 4

[*.{js,ts,vue}]
indent_size = 2
max_line_length = 100

[*.{json,jsonc,json5}]
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 100

[*.sh]
indent_size = 2

[*.toml]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2
