root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.toml]
indent_size = 2

[*.ini]
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 100

[*.{js,ts,vue}]
indent_size = 2
max_line_length = 100

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.json]
indent_size = 2

[{*.yml,*.yaml}]
indent_size = 2
