repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: git://github.com/antonbabenko/pre-commit-terraform
    rev: v1.20.0
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: toxlint
        name: tox
        entry: tox
        pass_filenames: false
        language: system
        types: [python]
