prune .github
prune client
prune example
prune example-client
prune tests
exclude tox.ini
exclude docker-compose.yml
exclude mypy.ini
exclude .editorconfig
exclude .gitignore
exclude Pipfile
exclude .pre-commit-config.yaml
graft s3_file_field/static
