[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
flake8 = "*"
mypy = "==0.740"
pre-commit = "*"
black = "*"
django-stubs = "==1.2.0"
djangorestframework-stubs = "==1.0.0"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-quotes = "*"
pep8-naming = "*"
bumpversion = "*"

[packages]
django-storages = "*"
django-minio-storage = "*"
django-cors-headers = "*"
django-dotenv = "*"
Django = "*"
s3_file_field = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
