{% extends "base.html" %}

{% block title %}Resource{% endblock %}

{% block head %}{{ form.media }}{% endblock %}

{% block content %}
<nav>
  Render with: <b>plain Django</b> |
  <a href="{% if object %}{% url "resource-update-daisyui" object.pk %}{% else %}{% url "resource-create-daisyui" %}{% endif %}">DaisyUI</a> |
  <a href="{% url "resource-vuetify" %}#/{% if object %}{{ object.pk }}{% endif %}">Vuetify</a>
</nav>
<a href="{% url "resource-list" %}">[Back to List]</a>
<h1>Resource</h1>

<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Save">
</form>
{% endblock %}
