$css_prefix: s3fileinput;

.#{$css_prefix}-inner {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 0;
  position: relative;

  input {
    flex: 1 1 0;
  }
}

.#{$css_prefix}-abort,
.#{$css_prefix}-info,
.#{$css_prefix}-clear {
  display: none;
}

.#{$css_prefix}-error {
  color: #dc3545;
}

.#{$css_prefix}-info {
  flex: 1 1 0;
  font-style: italic;
}

.#{$css_prefix}-progress {
  width: unset;
  height: 5px;
  position: relative;
  border-bottom: 1px solid transparent;

  > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear, background-color 0.25 ease;
    background-color: #17a2b8;
  }

  &[data-state="error"] > div {
    background-color: #dc3545;
    min-width: 25%;
  }

  &[data-state="successful"] > div {
    background-color: #28a745;
  }

  &[data-state="aborted"] > div {
    background-color: #ffc107;
    min-width: 25%;
  }
}

// spinner based on loading.io

$dot-width: 0.5em;

.#{$css_prefix}-spinner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.#{$css_prefix}-spinner {
  display: inline-block;
  position: relative;
  width: $dot-width * 8;
  height: $dot-width;

  > div {
    position: absolute;
    top: 0;
    width: $dot-width;
    height: $dot-width;
    border-radius: 50%;
    background: rgb(168, 168, 168);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      animation: #{$css_prefix}-in 0.6s infinite;
    }

    &:nth-child(2) {
      animation: #{$css_prefix}-move 0.6s infinite;
    }

    &:nth-child(3) {
      left: $dot-width * 2;
      animation: #{$css_prefix}-move 0.6s infinite;
    }

    &:nth-child(4) {
      left: $dot-width * 4;
      animation: #{$css_prefix}-out 0.6s infinite;
    }
  }
}

@keyframes #{$css_prefix}-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes #{$css_prefix}-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes #{$css_prefix}-move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: #{translate($dot-width * 2, 0)};
  }
}

.#{$css_prefix}-uploading {
  .#{$css_prefix}-abort {
    display: unset;
  }

  .#{$css_prefix}-spinner-wrapper {
    display: flex;
  }
}

.#{$css_prefix}-set {
  .#{$css_prefix}-info {
    display: inline-block;
  }
  .#{$css_prefix}-clear {
    display: unset;
  }
}
