name: ci
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test-python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    services:
      minio:
        # This image does not require any command arguments (which GitHub Actions don't support)
        image: "bitnami/minio:latest"
        env:
          MINIO_ROOT_USER: minioAccessKey
          MINIO_ROOT_PASSWORD: minioSecretKey
        ports:
          - 9000:9000
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          pip install --upgrade pip
          pip install tox
      - name: Run tests
        env:
          MINIO_STORAGE_ENDPOINT: "localhost:9000"
          MINIO_STORAGE_ACCESS_KEY: minioAccessKey
          MINIO_STORAGE_SECRET_KEY: minioSecretKey
          MINIO_STORAGE_MEDIA_BUCKET_NAME: s3ff-test
        run: |
          tox
  test-javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: current
      - name: Build and test Javascript client
        working-directory: ./javascript-client
        run: |
          yarn ci
          yarn run build
          yarn run lint
      - name: Build and test widget
        working-directory: ./widget
        run: |
          yarn ci
          yarn run build
          yarn run lint
