name: ci
on:
  pull_request:
  push:
    branches:
      - master
permissions:
  contents: read
jobs:
  test-python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    services:
      minio:
        # This image does not require any command arguments (which GitHub Actions don't support)
        image: bitnami/minio:2025.7.23
        env:
          MINIO_ROOT_USER: minioAccessKey
          MINIO_ROOT_PASSWORD: minioSecretKey
        options: >-
          --health-cmd "mc ready local"
        ports:
          - 9000:9000
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # Tags are needed to compute the current version number
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        env:
          MINIO_STORAGE_ENDPOINT: "localhost:9000"
          MINIO_STORAGE_ACCESS_KEY: minioAccessKey
          MINIO_STORAGE_SECRET_KEY: minioSecretKey
          MINIO_STORAGE_MEDIA_BUCKET_NAME: s3ff-test
        run: |
          uv run tox
  test-javascript:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: current
      - name: Build and test Javascript client
        working-directory: ./javascript-client
        run: |
          npm ci
          npm run build
          npm run test
      - name: Build and test widget
        working-directory: ./widget
        run: |
          npm ci
          npm run build
          npm run test
